<div class="container">
  <h2 mat-dialog-title>{{ data.isEdit ? 'Edit Book' : 'Add Book' }}</h2>
  <div class="book-form">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Author</mat-label>
      <input
        #authorInput
        matInput
        aria-label="Author"
        [formField]="bookForm.author"
        (keydown.enter)="handleEnter('author', $event)"
      />
      @if (bookForm.author().errors() && bookForm.author().touched()) {
        <mat-error>
          {{ bookForm.author().errors()[0]?.message }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Title</mat-label>
      <input
        #titleInput
        matInput
        aria-label="Title"
        [formField]="bookForm.title"
        (keydown.enter)="handleEnter('title', $event)"
      />
      @if (bookForm.title().errors() && bookForm.title().touched()) {
        <mat-error>
          {{ bookForm.title().errors()[0]?.message }}
        </mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="submit()" [disabled]="bookForm().invalid()">
        Save
      </button>
    </div>
  </div>
</div>
