<div class="container">
  <h2 mat-dialog-title>{{ data.isEdit ? 'Edit Book' : 'Add Book' }}</h2>
  <div class="book-form">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Author</mat-label>
      <input
        #authorInput
        matInput
        [formField]="bookForm.author"
        (keydown.enter)="handleEnter('author', $event)"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Title</mat-label>
      <input
        #titleInput
        matInput
        [formField]="bookForm.title"
        (keydown.enter)="handleEnter('title', $event)"
      />
    </mat-form-field>

    <div class="actions">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button
        mat-flat-button
        color="primary"
        (click)="submit()"
        [disabled]="bookForm().invalid()"
      >
        Save
      </button>
    </div>
  </div>
</div>
